@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* Navigation Styles Start Here */
.navebar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.navebar h3 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.navebar button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #444444;
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

/* Navigation Styles End Here */

/* -------------------------------------- */

/* Hero Section Style Start here */

.hero-section {
    background-image: url('./assets/Hero-bg.png');
    text-align: center;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 1px dashed #444444;
    border-bottom: 1px dashed #444444;
}

.hero-section h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.hero-section p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.hero-section button {
    padding: 12px 20px;
    background-color: #0D1321;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero Section Style End here */

/* -------------------------------- */

/* Card Section Start */

.development-container {
    width: 1140px;
    padding: 80px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #0d132105;
}

.development-content {}

.development-content .title-description {
    text-align: center;
}

.development-content .title-description h2 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.development-content .title-description p {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.development-content .card-1 {
    border-radius: 15px;
    background: linear-gradient(90deg, #ffffff, #ffffff00 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.card-1 .card-left {
    width: 50%;
}

.card-left h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

.card-left p {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.development-content .card-btn {
    padding: 10px 20px;
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #0D1321;
}

.development-content .card-2 {
    border-radius: 15px;
    background: linear-gradient(270deg, #ffffff, #ffffff00 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 45px;
    margin: 30px 0;
}

.card-2 .card-right {
    width: 50%;
}

/* Card Section End */

/* ---------------------- */

/* inspiration Section Start here */

.inspiration-container {
    position: relative;
    margin: 70px auto;
    width: 1140px;
    height: 750px;
    text-align: center;
}

.inspiration-container .text-content {
    padding: 0 100px;
}

.inspiration-container .text-content h2 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inspiration-container .text-content p {
    color: #0d1321;
    font-family: Azeret Mono;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}


.inspiration-container .youtube-video {
    margin-top: 50px;
    width: 1140px;
    height: 614px;
    padding: 50px;
    border: 1px solid #0d132133;
    border-radius: 10px;
}
iframe{
    border-radius: 15px;
}

/* inspiration Section End here */