@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* Navigation Styles Start Here */
.navebar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.navebar h3 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.navebar button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #444444;
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.navebar button:hover {
    box-shadow: 5px 5px 0px #0D1321;
}

/* Navigation Styles End Here */

/* -------------------------------------- */

/* Hero Section Style Start here */

.hero-section {
    background-image: url('./assets/Hero-bg.png');
    text-align: center;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 1px dashed #444444;
    border-bottom: 1px dashed #444444;
}

.hero-section h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

.hero-section p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.hero-section button {
    padding: 12px 20px;
    background-color: #0D1321;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.hero-section button:hover {
    background-color: white;
    color: #0D1321;
    /* border: 1px solid #0D1321; */
    box-shadow: 5px 5px 0px #0d1321;
}

/* Hero Section Style End here */

/* -------------------------------- */

/* Card Section Start */

.development-container {
    width: 1140px;
    padding: 80px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #0d132105;
}

.development-content {}

.development-content .title-description {
    text-align: center;
}

.development-content .title-description h2 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.development-content .title-description p {
    color: #0d1321;
    font-family: Azeret Mono;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.development-content .card-1 {
    border-radius: 15px;
    background: linear-gradient(90deg, #ffffff, #ffffff00 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.card-1 .card-left {
    width: 50%;
}

.card-left h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

.card-left p {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.development-content .card-btn {
    padding: 10px 20px;
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #0D1321;
    cursor: pointer;
}

.development-content .card-2 {
    border-radius: 15px;
    background: linear-gradient(270deg, #ffffff, #ffffff00 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 45px;
    margin: 30px 0;
}

.card-2 .card-right {
    width: 50%;
}

/* Card Section End */

/* ---------------------- */

/* inspiration Section Start here */

.inspiration-container {
    position: relative;
    margin: 70px auto;
    width: 1140px;
    height: 750px;
    text-align: center;
}

.inspiration-container .text-content {
    padding: 0 100px;
}

.inspiration-container .text-content h2 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inspiration-container .text-content p {
    color: #0d1321;
    font-family: Azeret Mono;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
}


.inspiration-container .youtube-video {
    margin-top: 50px;
    width: 1140px;
    height: 614px;
    padding: 50px;
    border: 1px solid #0d132133;
    border-radius: 10px;
}

iframe {
    border-radius: 15px;
}

/* inspiration Section End here */

/* -------------------------- */

/* Target Section style start here */

.target-container {
    width: 1140px;
    margin: 150px auto;
}

.target-container .text-content {
    text-align: center;
    padding: 30px 100px;
}

.target-container .text-content h2,
.title {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.target-container .text-content p,
.description {
    color: #0d1321;
    line-height: 30px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}

.target-container .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.target-container .card .card-content {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    border-radius: 10px;
}

.target-container .card .card-content h2,
.card-heading {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.target-container .card .card-content p,
.card-description {
    color: rgb(13, 19, 33);
    line-height: 26px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.target-container .card .card-content button,
.card-button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bg-red {
    background-color: #FF4C1E0D;
}

.bg-blue {
    background-color: #004CE80D;
}

.bg-yellow {
    background-color: #FFDF000D;
}

/* inspiration Section end here */

/* -------------------------------- */

/* Next Target style start here */

.netx-target-container {
    width: 1140px;
    margin: 0 auto;
}

.netx-target-container .text-content {
    text-align: center;
    padding: 0 100px;
}

.card-content-raw {
    margin: 50px 0;
    display: grid;
    gap: 20px;
}

.raw-card {
    border: 1px solid #0d132126;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raw-card .text {
    width: 84%;
    display: grid;
    gap: 10px;
}

/* Next Target style End here */

/* ----------------------------- */

/* Feedback Section Start Here */

.feedback-container {
    width: 1140px;
    margin: 100px auto;
    background-color: #00000090;
    background-blend-mode: overlay;
    background-image: url('./assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feedback-content {
    text-align: center;
    padding: 46px 50px;
}

.feedback-content h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.feedback-content p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 100px;
}

.feedback-form {
    margin: 20px 0;
}

.feedback-form input {
    width: 548px;
    padding: 15px 30px;
    background-color: white;
    color: #444444;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    outline: none;
}

.feedback-form button {
    padding: 15px 25px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Feedback Section End Here */

/* ------------------------- */

/* Footer Style Start here */

footer {
    width: 1440px;
    height: 100px;
    background-color: #0D132108;
}

.footer-container {
    margin: 0 auto;
    height: 100%;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright h2 {
    color: #0d1321;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
}

.social-icon img {
    margin-left: 20px;
}